//Variables couleurs
$primaryColor: #500025;
$secondaryColor: #bfaa76;
$backgroundLight: #f5f5f5;
$backgroundDark: #1f1f1f;

//Variables polices
$fontCeltico: 'cCeltico', sans-serif;
$fontColwell: 'COLWELL_', sans-serif;
