body[data-theme='dark'] {
  @import '../dark-slider.scss';

  .slider-tab {
    background-color: $primaryColor;
  }

  .title-styles {
    color: $secondaryColor;
  }

  .header-icon {
    color: $secondaryColor;
    opacity: 0.8;
  }

  .slider-image {
    border: 5px solid $secondaryColor;
  }

  .language {
    background-color: $primaryColor;
  }

  .link-href {
    color: $secondaryColor;
  }

  .project-date {
    background-color: $primaryColor;
    color: $secondaryColor;
  }

  header {
    background-color: $primaryColor;
    h1 {
      color: $secondaryColor;
    }
  }
  .bar {
    background-color: $secondaryColor;
  }
  .menu-toggle.open .bar {
    background-color: $primaryColor;
  }
  #about {
    background-color: $primaryColor;
    h1 span {
      color: $secondaryColor;
    }
    .polaroid span {
      background: rgb(0 0 0 / 41%);
    }
    .card {
      background: rgb(0 0 0 / 41%);
      color: $secondaryColor;
    }
  }

  #portfolio {
    background: $primaryColor;
    .section-title {
      color: $secondaryColor !important;
    }
    .foto div {
      background: rgb(0 0 0 / 41%);
    }
    .project-title-settings {
      color: $secondaryColor;
    }
  }

  .modal-inside .modal-content {
    background: $primaryColor !important;
    color: $secondaryColor !important;
  }
  .modal-content h3 {
    color: $secondaryColor !important;
  }
  .modal-description,
  .modal-description,
  .modal-inside i {
    color: $secondaryColor !important;
  }
  .close-icon {
    color: $secondaryColor !important;
  }
  #contact {
    filter: brightness(80%);
    background: $primaryColor;
    .section-title {
      color: $secondaryColor !important;
    }
  }
  #contact label {
    color: $backgroundLight;
  }

  #contact .btn {
    background: rgb(0 0 0 / 41%) !important;
  }

  .form-control {
    font-size: 2rem !important;
    font-weight: bold !important;
    background-color: $backgroundLight !important;
    border: 2px solid $primaryColor !important;
    color: $primaryColor !important;
  }

  input::placeholder,
  textarea::placeholder {
    color: $primaryColor !important;
  }

  h1 span {
    color: $secondaryColor !important;
  }
}
