@font-face {
  font-family: 'cCeltico';
  src: url('./fonts/cCeltico.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'COLWELL_';
  src: url('./fonts/COLWELL_.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'COLWELL_', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1.5px;
}

a:hover {
  color: #500025 !important;
  text-decoration: none !important;
}

code {
  font-family: 'cCeltico', sans-serif !important;
}
